<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fast Box | Грузоперевозки</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<!-- Header start (Шапка)-->
	<header class="header">
		<div class="wrapper">
			<div class="header__wrapper">
				<div class="header__logo">
					<a href="#!" class="header__logo-link">
						<img src="./img/svg/fast_box_logo.svg" alt="Fast Box" class="header__logo-pic">
					</a>
				</div>
				<div class="header__capshion">
					<nav class="header__nav">
						<ul class="header__list">
							<li class="header__item">
								<a href="shipping_payment.html" class="header__link">О компании</a>
							</li>
							<li class="header__item">
								<a href="guarantee.html" class="header__link">Услуги</a>
							</li>
							<li class="header__item">
								<a href="contacts.html" class="header__link">Контакты</a>
							</li>
							<li class="header__item">
								<a href="authorization.html" class="header__link">Личный кабинет</a>
							</li>
							<div class="contact">
								<li class="telephone">
									<a href="tel:+79083120707" class="header__link telephone">+7-999-666-33-00</a>
								</li>
								<ul class="time-work">
									<li class="header__item3">
										<a href="mailto:fastbox@gmail.com" class="header__link time-work">fastbox@mail.com</a>
									</li>
								</ul>
							</div>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header end (Шапка) -->

	<main class="main">
		<!-- Intro start (Вступление)-->
		<section class="intro1" id="sign-in">
			<div class="wrapper">
				<h1 class="intro__title">
						ГРУЗОВЫЕ ПЕРЕВОЗКИ
				</h1>
				<p class="intro__subtitle wrapper">
					Перевозка малогбаритных и крупногабаритных грузов по России. Полное экспедирование, страхование, упаковка и хранение грузов.
				</p>
				<form class="search-form">
					<fieldset class="serach-form__wrap">
						<p class="search-form__info">
							<span class="search-form__field">
								<select name="user_profile_color_1">
									<option value="1">Омск</option>
									<option value="2">Москва</option>
									<option value="3">Санкт-Петербург</option>
									<option value="4">Сочи</option>
									<option value="5">Казань</option>
								</select>
							</span>
							<span class="search-form__field">
								<select name="user_profile_color_1">
									<option value="1">Москва</option>
									<option value="2">Омск</option>
									<option value="3">Санкт-Петербург</option>
									<option value="4">Сочи</option>
									<option value="5">Казань</option>
								</select>
							</span>
							<input type="text" name="user-like-to-do" class="search-form__field" placeholder="Цена">
							<button type="submit" class="search-form__submit">Рассчитать</button>
						</p>
					</fieldset>
				</form>
			</div>
		</section>
		<!-- Intro end (Вступление) -->

				<!-- Rules start (Правила) -->
		<section class="rules">
			<div class="wrapper">
				<h1 class="intro__title  grey top">
					Почему выбирают нас?
				</h1>
				<div class="rules__cards">

					<div class="rules__card">
						<img src="./img/icon1.png" alt="Грузовик">
						<h3 class="rules__card-circle-title">
							Лучшая цена
						</h3>
						<p class="rules__card-circle-desc">
							Все очень просто: мы используем попутный транспорт. Вместо того, чтобы перегонять пустую машину, мы берем попутные грузы со скидкой для клиента.
						</p>
					</div>

					<div class="rules__card">
						<img src="./img/icon2.png" width="100" alt="Гарантия">
						<h3 class="rules__card-circle-title">
							Надежный сервис
						</h3>
						<p class="rules__card-circle-desc">
							97% грузов наших клиентов доставляются вовремя. Разумеется, задержки случаются, но где их не бывает.
						</p>
					</div>

					<div class="rules__card">
						<img src="./img/icon3.png" width="100" alt="Сердце">
						<h3 class="rules__card-circle-title">
							Личный менеджер 24/7
						</h3>
						<p class="rules__card-circle-desc">
							Каждый клиент получает личного менеджера. Это удобно. Вы всегда можете позвонить по прямому номеру или написать в Телеграм.
						</p>
					</div>

				</div>
			</div>
		</section>
		<!-- Rules end (Правила) -->

		<!--  Catalog start (Каталог товаров)-->
		<section class="catalog" id="s5">
			<div class="catalog__wrap">
				<div th:each="productGroup: ${productGroups}" class="catalog__cards">
					<div th:each="product: ${productGroup}" th:attr="data-id=${product.id}" class="catalog__card">
						<div class="catalog__card-pic">
							<img th:src="${product.imageSource}" th:alt="${product.imageName}" class="catalog__card-mini">
							<a href="#!" class="halls__card-link"></a>
						</div>
						<h3 class="catalog__card-title" th:text="${product.name}">
							Имя продукта
						</h3>
						<p class="catalog__card-desc" th:text="${product.price} + ' руб.'">
							0 руб.
						</p>
						<button type="submit" class="search-form__submit2">Купить</button>
					</div>
				</div>
			</div>
		</section>
		<!--  Catalog end (Каталог товаров)-->

		<!-- Tours start -->

        <div class="tours" id="articles">
            <div class="wrapper">

                <div class="tours__tour tour">
                    <div class="tour__pic">
                        <img src="./img/tour-1-min.svg" alt="Prefecture in Focus: Tottori" class="tour__thumb">
                    </div>
                    <div class="tour__info">
                        <h3 class="tour__title">
                            Грузоперевозки по Омску
                        </h3>
                        <p class="tour__desc">
                            Сервис «Fast Box» — это надежный грузоперевозчик, который с 2005 года успешно сотрудничает со множеством клиентов в России и странах СНГ, постоянно открывая новые филиалы. Наша компания поможет вам справиться с любыми вопросами, связанными с транспортными услугами и работой грузчиков. Организуем квартирный или офисный переезд, соберем новую мебель и вывезем старую, обеспечим защиту грузов от повреждений, подключим бытовую технику и вывезем мусор. Используем как стандартные грузовики так и авторефрижераторы, с помощью которых перевозим температурные грузы. Работая с крупными и тяжелыми грузами применяем такелажное оборудование.
                        </p>
                    </div>
                </div>

                <div class="tours__tour tour">
                    <div class="tour__info">
                        <h3 class="tour__title">
                          Перевозка крупногабаритных и нестандартных грузов в Санкт-Петербурге
                        </h3>
                        <p class="tour__desc">
                            Сегодня перевозка крупногабаритных грузов по Санкт-Петербургу и области становится все более актуальной. Но кому ее доверить? Поручите эту работу нашей команде. В «ГрузовичкоФ» опытные сотрудники, широкий выбор техники разной грузоподъемности и квалифицированный сервис при каждом обращении. Комплексный подход к решению поставленной задачи мы дополняем демократичными ценами на услуги, а вызвать технику с грузчиками вы можете в любое время суток.
                        </p>
                    </div>
                    <div class="tour__pic tour__pic_mob-first">
                        <img src="./img/tour-2-min.svg" alt="Featured Neighborhood: Kyoto’s Arashiyama" class="tour__thumb">
                    </div>
                </div>

            </div>
        </div>

        <!-- Tours start -->

		<!-- Reviews start (Отзывы) -->
		<section class="reviews" id="s4">
			<div class="wrapper-full">
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
				<div class="koguvcavis-varazdel">
					<div class="sestim-donials">
					<h1 class="all__title">Отзывы о сервисе Fast Box</h1>
					<div class="sectionesag"></div>
					<div class="sagestim-lonials animated fadeInRight">
							<div class="vemotau-vokusipol">
							<div class="testimonial">
							<img src="http://zornet.ru/_fr/83/7890600.jpg" alt="">
							<div class="gecedanam">Антон Попов</div>
							<div class="apogered-gselected">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							</div>

							<p>Отличная транспортная компания. Пользовался их услугами уже неоднократно. Менеджеры и логисты всегда внимательны, тактичны и вежливы. Профессионально выполняют свои рабочие функции. Советую эту компанию всем!</p>
							</div>
							</div>

							<div class="vemotau-vokusipol">
							<div class="testimonial">
							<img src="http://zornet.ru/_fr/83/2047084.jpg" alt="">
							<div class="gecedanam">Дмитрий Атрохов</div>
							<div class="apogered-gselected">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							</div>

							<p>Хочу сказать спасибо! Нам с водителем очень повезло! Благодарю, что назначили именно его. Пунктуальный, вежливый. Еще и коробки помогал расставлять. Много свободного места осталось!:)) Зря волновалась. Все отлично!!! Благодарю от души!</p>
							</div>
							</div>

							<div class="vemotau-vokusipol">
							<div class="testimonial">
							<img src="http://zornet.ru/_fr/83/5640570.jpg" alt="">
							<div class="gecedanam">Каспер Волков</div>
							<div class="apogered-gselected">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							</div>

							<p>Не смотря на то, что мне не смогли помочь с перевозкой, ваша организация единственная, которая быстро перезвонила. Подбирали варианты и очень приемлимые цены по сравнению с другими компаниями. Буду вас рекомендовать. Спасибо большое!
							</p>
							</div>
							</div>
							</div>
			</div>
		</section>
		<!-- Reviews end (Отзывы)  -->

		<h1 class="all__title all__title-padding-bottom">Где мы находимся</h1>
		<!-- Map start (Карта) -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2289.045629561506!2d73.30184821602394!3d54.98983395804156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43ab01a340f00655%3A0xf1f3e057217bf7dd!2z0YPQuy4g0KHRgtC10L_QsNC90YbQsCwgMiwg0J7QvNGB0LosINCe0LzRgdC60LDRjyDQvtCx0LsuLCA2NDQxMTI!5e0!3m2!1sru!2sru!4v1671357783123!5m2!1sru!2sru" width="1920" height="608" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> >

		<!-- Footer start (Подвал) -->
		<div id="footer">
			<div class="wrapper-full section-color">
				<div class="wrapper">
					<div class="footer__capshion">
						<nav class="header__nav">
							<ul class="header__list">
								<li class="footer__item">
									<a href="#!" class="header__link">Остались вопросы? Мы готовы помочь!</a>
								</li>
								<li class="footer__item">
									<a href="#!" class="header__link">Служба поддержки</a>
								</li>
								<li class="footer__item">
									<a href="#!" class="header__link">Политика конфиденциальности</a>
								</li>
							</ul>
							<ul >
								<li class="header__item">
									<a href="#!" class="header__link">©Fast Box | Грузоперевозки </a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<a href="#" title="Вернуться к началу" class="topbutton">
			<img src="./img/arrow-up.png" alt="Up">
		</a>
		<!-- Footer end (Подвал) -->
	</main>
</body>
</html>